<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Serve</title>
</head>
<body>
    <ul>
        <%= locals.text || "Hey" %>
        <h1>How to install and use Epxress JS</h1>
        <li>Install Express JS</li>
        <li>Use Express JS</li>
    </ul>
</body>
</html>